# Ignore dotenv environment variable files
.env
.env.*

# Ignore logs folder and its contents
logs/

# Ignore Python bytecode and caches
__pycache__/
*.py[cod]
*.pyo
*.egg-info/


# Ignore local virtual env
.venv/

# Ignore result files
bench_out/